@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #b1cac4;
}
/* Main Styling */
html,
body {
  font-family: "Poppins", sans-serif !important;
}

h1 {
  font-size: 2, 5rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1, 75rem;
}

h4 {
  font-size: 1, 5rem;
}

h5 {
  font-size: 1, 25rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 900;
}

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1, 7em;
}

a {
  text-decoration: none;
}
/* Utility Classes*/
.container,
.container-portfolio {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.large {
  font-size: 1, 25rem;
}

.display-1 {
  font-size: 6rem;
}

.btn {
  display: inline-block;
  font-size: 15px;
  padding: 12px 23px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
}

.btn-dark {
  background: #4d4d4d;
  border: none;
  color: #fff;
}

.btn-dark:hover {
  background: #fff;
  border: 0.5px solid #4d4d4d;
  color: #4d4d4d;
}

form label {
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 300;
}

form .form-group {
  margin-bottom: 16px;
}

form .form-control {
  display: block;
  width: 100%;
  padding: 7px 12px;
  line-height: 1.5;
  background-color: #f8f9fa;
  border-color: #8890a1;
  border-radius: 4px;
}

/*Navbar*/
.navbar-home {
  height: 10vh;
}

#navbar {
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar a {
  color: black;
}

#navbar .logo {
  float: left;
  margin-left: 20px;
  padding-top: 5px;
}

#navbar .logo img {
  height: 40px;
}
#navbar ul {
  float: right;
  font-size: 14px;
  list-style: none;
}

#navbar li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a :hover,
#navbar ul li .current {
  text-decoration: underline;
}

/* Showcase */
#showcase {
  height: 80vh;
  background: #b1cac4;
  padding: 150px;
}

#showcase h1 {
  line-height: 1em;
}

#showcase .title-outline {
  color: #b1cac4;
  -webkit-text-stroke: 3px #000;
}

.showcase-row {
  display: flex;
}

.showcase-row-title {
  padding-top: 70px;
}

.showcase-row-image {
  display: block;
  margin: 0 auto;
}

#showcase-row-image img {
  height: 500px;
}

/*About*/
#about {
  background: #b1cac4;
  padding: 90px;
}

#about h2 {
  padding-bottom: 50px;
  text-align: center;
}

#about-row {
  display: flex;
}

#about-row-image img {
  height: 500px;
  padding: 90px;
}

#about hr {
  width: 60%;
  margin-bottom: 30px;
}

/*Skills*/
#skills {
  display: flex;
  padding: 90px 0;
  flex-wrap: wrap;
}

#skills h2 {
  padding-bottom: 50px;
}

.skills-row {
  width: 50%;
  display: flex;
  padding-bottom: 50px;
}

.skills-row-left,
.skills-row-right {
  width: 50%;
  padding-bottom: 50px;
  display: flex;
}

.skills-row-left-image,
.skills-row-right-image {
  width: 50%;
  text-align: center;
  flex: 1;
}
.skills-row-left-text,
.skills-row-right-text {
  flex: 1;
}

/*Timeline*/
#timeline {
  padding: 90px 0;
  background: #b1cac4;
}

#timeline h2 {
  padding-bottom: 20px;
  text-align: center;
}

.timeline-row {
  display: flex;
  padding-bottom: 40px;
}

.timeline-row-tag {
  width: 50%;
  text-align: right;
  padding-right: 80px;
}

.timeline-row-tag p span {
  background: #2f426c;
  color: #fff;
  padding: 12px 30px;
  border-radius: 20px;
}

/*Portfolio*/
#portfolio {
  padding: 90px 0;
  background: #b1cac4;
}

#portfolio h2 {
  padding-bottom: 50px;
  text-align: center;
}

#portfolio-row {
  display: flex;
  /* justify-content: space-between; */
  /* align-content: space-between; */
}

.portfolio-row-box {
  margin: 20px;
  background: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.portfolio-row-box img {
  width: 25%;
}

.portfolio-row-box p {
  text-align: center;
  padding: 20px;
  margin-top: 0;
}

/* Contact */
#contact {
  padding: 90px 0;
  background: #b1cac4;
}

#contact h2 {
  padding-bottom: 50px;
  text-align: center;
}

.contact-form {
  background: #fff;
  width: 50%;
  margin: 20px auto;
  padding: 70px 50px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h5 {
  text-align: center;
  padding-bottom: 40px;
  font-weight: 900;
}
.contact-form label {
  padding: 9px;
}
.contact-form textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.contact-form button {
  width: 100%;
}

.center {
  text-align: center;
  padding-bottom: 20px;
  font-weight: auto;
}

/* Footer */
.footer-home {
  height: 10vh;
}

#mainfooter {
  background: #b1cac4;
  text-align: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 845px) and (orientation: portrait) {
  #showcase-row-image {
    width: 100svw;
  }
  #showcase-row-image img {
    width: 100%;
    height: auto !important;
  }
  .about-row-image {
    width: 100svw;
  }
  .about-row-image img {
    width: 100%;
    height: auto !important;
  }
  .container {
    padding: 0;
  }
}
